 <toh-hero [hero]="selectedHero"></toh-hero>

<ul class="heroes">
  <li *ngFor="let hero of heroes" 
  (click)="onSelect(hero)" 
  [class.selected]="hero==selectedHero">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>